<html>
	<head>
		<title>Pay to Surykant</title>
		<script src="/static/index.js" defer></script>
	</head>
	<body>
		{{amount}}
		{% if amount %}

		<a href="upi://pay?pa=7828369492@ybl&amp;pn=Suryakant Agrawal&amp;cu=INR&amp;mc=0000&amp;mode=02&amp;purpose=00&amp;am={{amount}}&amp;orgid=000000" class="upi-pay1" id="pay_tag">Pay now!!</a>
		{% else %}
		<a href="upi://pay?pa=7828369492@ybl&amp;pn=Suryakant Agrawal&amp;cu=INR&amp;mc=0000&amp;mode=02&amp;purpose=00&amp;orgid=000000" class="upi-pay1" id="pay_tag">Pay now!!</a>
		{% endif %}
	</body>
</html>